

*{
    box-sizing: border-box;
    font-family:"Work Sans";
    margin: 0;
    padding: 0;

}

/*MENU*/
.contenedor-header{
    background: #1e2326;
    position: fixed;
    width: 100%;
    z-index: 99;
}

.contenedor-header header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
}

.contenedor-header header .logo a{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 36px;
    color: yellow;
    text-decoration: none;
}

.contenedor-header header ul{
    display: flex;
    list-style: none;
}

.contenedor-header header nav ul li a{
    text-align: none;
    color: #fff;
    margin: 0 15px;
    padding: 3px;
    transition: .5s;
    text-decoration: none;
}

.contenedor-header header nav ul li a:hover{
    /*hover sirve para darle animacion al pasar el cursor por arriba*/
    color: yellow;
}

/*SECCION I N I C I O*/
.inicio{
    background-color:  #252A2E;
    background-size: cover;
    height: 100vh;
    color: #fff;
    display: flex;
    align-items: center;
}

.inicio .contenido-banner{
    padding: 20px;
    background-color: #1e2326;
    max-width: 320px;
    margin: auto;
    text-align: center;
    margin-bottom: 40px;
}

.inicio .contenido-banner img{
    margin-top: 40px;
    border: 2px solid;
    display: block;
    width: 80%;
    margin: auto;
    border-radius: 80%;
}

.inicio .contenido-banner h1{
    margin-top: 40px;
    margin-bottom: 20px;
    font-size: 35px;
    font-size: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.inicio .contenido-banner h2{
    font-size: 15px;
    font-weight: normal;
}

.inicio .contenido-banner .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
    transition: .3s;
}

/*SECCION SOBRE MI*/
.sobremi{
    background-color: #1e2326;
    color: #fff;
    padding: 50px 20px;
}

.sobremi .contenido-seccion{
    max-width:1100px;
    margin: auto;
}

.sobremi h2{
    font-size: 48px;
    text-align: center;
    padding: 20px ;
}

.sobremi .contenido-seccion p{
    font: 18px;
    line-height:  22px;
    margin-bottom: 20px;
}


.sobremi .fila{
    display: flex;
}

.sobremi .fila .col{
    width: 50%;
}

.sobremi .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}

.sobremi .fila .col ul{
    list-style: none;
}

.sobremi .fila .col ul li{
    margin: 10px 0;
}

.sobremi .fila .col ul li strong{
    display: inline-block;
    color: aqua;
    width: 130px;
}

.sobremi button{
    cursor: pointer;
    background-color: transparent;
    border: 2px solid #fff;
    width: fit-content;
    display: block;
    margin: 20px auto;
    padding: 10px 22px;
    font-size: 16px;
    color: #fff;
    position: relative;
}
.sobremi button a {
    text-decoration: none;
    color: #fff;

}

/* SECCION SKILLS*/
.skills{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 20px;
}

.skills .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.skills h2{
    font-size: 48px;
    text-align: center;
    padding: 20px 0;
}

.skills .fila{
    display: flex;
}

.skills .fila .col{
    width: 100%;
    padding: 0 20px;
}

.skills .fila .col h3{
    font-size: 28px;
    margin-bottom: 25px;
}

.skills .skill span{
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}

.skills .skill .barra-skill{
    height: 8px;
    width: 80%;
    background-color: #131517;
    position: relative;
    margin-bottom: 30px;
}

.skills .skill .progreso{
    background-color: aqua;
    position: absolute;
    height: 8px;
}
.skills .skill .barra-skill span{
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: aqua;
    border-radius: 50px;
    line-height: 40px;
    text-align: center;
    top: -15px;
    right: -17px;
    font-size: 14px;
}

.skills .skill .javascript{
    width: 64%;
}

.skills .skill .htmlcss{
    width: 95%;
}


.skills .skill .python{
    width: 17%;
}


.skills .skill .word{
    width: 80%;
}


.skills .skill .drupal{
    width: 34%;
}


.skills .skill .comunicacion{
    width: 90%;
}


.skills .skill .tee{
    width: 83%;
}


.skills .skill .creatividad{
    width: 75%;
}


.skills .skill .dedicacion{
    width: 69%;
}

.skills .skill .proyect{
    width: 55%;
}


/*SECCION CURRICULUM*/

.curriculum{
    background-color: #1e2326;
    color: #fff;
}

.curriculum .contenido-seccion{
    max-width: 1100px;
    margin: auto;
}

.curriculum h2{
    font-size: 48px;
    font-family: system-ui, -apple-system,
     BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    padding: 20px ;
}

.curriculum .fila{
    display: flex;
    justify-content: space-between;
}

.curriculum .fila .col{
    width: 50%;
    padding: 0 20px;
}

.curriculum .fila .col h3{
    font-size: 28px;
    font-family: 'Righteous';
    margin-bottom: 29px;
}


.curriculum .fila .item{
    padding: 25px;
    margin-bottom: 30px;
    background-color: #252A2E;
    position: relative;
}

.curriculum .fila .item h4{
    font-size: 20px;
    margin-bottom: 10px;
}

.curriculum .fila .item .titu{
    font-size: 22px;
    font-weight: bold;
    display: block;
    margin-bottom: 10px;
}


.curriculum .fila .item p{
    line-height: 24px;
    font-size: medium;
}




/*SECCION FOOTER*/

footer{
    background-color: #252A2E;
    color: #fff;
    padding: 50px 0 30px 0;
    text-align: center;
    position: relative;
    width: 100%;
}

footer .redes{
    margin-bottom: 20px;
}

footer .redes a{
    color: #fff;
    display: inline-block;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    line-height: 42px;
    margin: 40px 5px;
    font-size: 20px;
}



/*SECCION RESPONSIVE*/
@media screen and (max-width:320px){
    #nav ul{
        display: block;
        width: 100%;
    }
    .nav-responsive{
        display: block;
        width: 100%;
    }
    nav.responsive{
        display: block;
        position: absolute;
        right: 0;
        top: 75px;
        background-color: #252A2E;
        width: 100%;
    }
    nav ul{
        display: block;
        width: 100%;
    }
    
    .sobremi .fila{
        display: block;
        width: 100%;
    }
    .sobremi .fila .col{
        width: fit-content;

    }

    .skills .fila{
        display: block;
        width: 100%;
    }
    .skills .fila .col{
        width: 100%;
        width: fit-content;
    }
    .skills .fila .col .barra-skill{
        width: 100%;
    }

    .curriculum .fila{
        display: block;
        width: 100%;
    }
    .curriculum .fila .col{
        width: 90%;
    }
    .curriculum .fila .derecha{
        margin-left: 20px;
    }
    
    }




